<div id="filter-container">
    <h1>Filter Recipes</h1>
    <form method="GET" action="/">
        <input type="text" name="searchQ" placeholder="Search ingredients..." />
        <input type="submit" value="Search" />
    </form>
    <h1>{{title}}</h1>
    <div class="recipes-display-container">
        {{#each recipe}}
        <article class="recipe-article">
            <h1>{{name}}</h1>
            <h3>{{altName}}</h3>
            <p>Prep Time: {{prepTime}} minutes</p>
            <p>{{description}}</p>
        </article>
        {{/each}}
    </div>
</div>