<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{name}}</h1>
            <p class="lead fw-normal text-white-50 mb-0">{{description}}</p>
        </div>
    </div>
</header>

<section class="py-5 px-5">
    <section id="recipe-profile">
        <p>Prep Time: {{prepTime}} minutes</p>
        <p>{{intro}}</p>
    </section>
    <section id="recipe-ingredients">
        <h2>Ingredients</h2>
        {{!-- form 3: scale recipes from 1x to 5x --}}
        {{!-- input validation/stability/security --}}
        <form method="GET" action="">
            <label for="factor">Scale:</label>
            <input type="number" name="factor" id="factor" min="1" max="5" />
            <input type="submit" value="View" />
        </form>
        <ul>
            {{#each ingredients}}
            <li><a href="/ingredient/{{this.name}}">{{this.name}}</a>, {{this.amt}} {{this.unit}}</li>
            {{/each}}
        </ul>
    </section>
</section>

<section class="px-5">
    <section id="recipe-steps">
        <h2>Let's Get Started</h2>
        <ol>
            {{#each steps}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </section>
</section>